body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: white;
    background-color: rgb(53, 51, 51);
    text-align: left;
    padding: 10px;
}

p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    font-size: 18px;
}

.photo-frame {
    width: 700px;
    border: 5px solid rgb(95, 147, 224);
    height: 300px;
    padding: 15px;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}