body {

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {

    width: 450px;
    height: 450px;
    background-color: rgb(231, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {

    width: 250px;
    min-height: 250px;
    height: auto;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
    border: 3px solid green;
}

.name{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:700;
    font-size:15px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(31, 30, 30);
}

.about{
    font-size:11px;
    color: rgb(63, 58, 58);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

.connect{
    font-size:11px;
    color: rgb(63, 58, 58);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
    text-align: center;
}