body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
}

.background {

    width: 450px;
    height: 450px;
    background-color: rgb(231, 228, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 300px;
    /* min-height: 250px; */
    height: auto;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.text{
    margin: 10px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    padding-left: 10px;
}

.text:focus{
    margin: 10px;
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    padding-left: 10px;
}

.submit{
    margin-top: 25px;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(24, 167, 24);
    font-size: medium;
}



